{% extends 'dash.html' %} 

<html>


{% block content %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">

	{% block css %}
	{% load  static %}
  <link rel="stylesheet" type="text/css" href="{% static 'cal/css/styles.css' %}">
  {% endblock css %}
  <title>Django Calendar App</title>
</head>

<body>
<h1 class="title">{% block title %}{% endblock %}</h1>
  <hr>
<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Previous Month </a>
	{% now "Y-m-d" as todays_date %}
	
	<!-- {{ checkin_date.start_time|date:'Y-m-d' }} {{ todays_date }}{{ checkin_date.id }} {{ checkin_date.user }}-->
	{% if checkin_date.start_time|date:'Y-m-d' != todays_date %}
	   <a class="btn btn-info left" href="{% url 'cal:check_in' %}?{{ prev_month }}"> check in </a>
	{% elif checkin_date.end_time|date:'Y-m-d' != todays_date %}   
	   <a class="btn btn-info left" href="{% url 'cal:check_out' checkin_date.id %}"> check out </a>
	   {% else %} 
	   <a > Your attendance is marked for today</a>
	{% endif %}
	<a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Next Month </a>
	<a class="btn btn-info right" href="{% url 'cal:event_new' %}"> Leave request </a>
	</div>
	{{ calendar }}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}
