Ticket Created #560004

pip install 'PackageName==1.4'
pip install virtulenvwrapper-win
mkvirtualenv mywebsite
workon mywebsite
pip install django==2.1
python -m django --version
pip install pillow
           py -m django --version
pip install django-pyodbc-azure
-m pip install -U pylint
pip install django-widget-tweaks (not used don't need to install)
pip install django-currentuser  
pip install django-login-required-middleware (installed this but haven't used, for temporary
					use login_required in all template)
pip install django-phonenumber-field  (This one also not used in project not needed to install)     
				pip list
pip unistall django
django-admin startproject mysite
python manage.py startapp projectApp
pip install wfastcgi
python manage.py collectstatic
IIS AppPool\DefaultAppPool

                            python 3.6.5
                            Django==2.0.1
                            gunicorn==19.7.1
                            pytz==2017.3
                            django-currentuser==0.5.0
                            django-pyodbc-azure==2.1.0.0
                            django-widget-tweaks==1.4.8
                            pillow==6.2.1
                            pylint==2.4.4
                            pyodbc==4.0.27
                            pytz==2019.3
                            virtualenv==16.7.7
                            virtualenvwrapper-win==1.2.5
                            wfastcgi==3.0.0
                            
                  pip install -r requirements.txt

admin username: sys	
      password: Nepal123
username:pro	
password: Pro123!@#
https://www.youtube.com/watch?v=CpFU16KrJcQ
https://www.youtube.com/watch?v=cgTFrAwXeoI&t=96s
					server name: DESKTOP-2R91M6O
					install odbc 17 driver from microsoft website
			

