<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
    		    <add name="a_test" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\samir\appdata\local\programs\python\python36\python.exe|c:\users\samir\appdata\local\programs\python\python36\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		    
		</handlers>
		  <security>
    <requestFiltering>
    <!--   Use this below setting if your URL is very long   -->
      <requestLimits maxQueryString="9999" />
    </requestFiltering>
  </security>
	</system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="testsql.wsgi.application" />
		<add key="PYTHONPATH" value="C:\inetpub\wwwroot\testsql" />
		<add key="DJANGO_SETTINGS_MODULE" value="testsql.settings" />
	</appSettings>
</configuration>