{% extends "dash.html" %}
{% block content %}
<html>
<title>DMS|Contacts</title>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 0px 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>
</head>
<div class="container">
<!--<h1>Files in the system are:</h1>-->
<br>
{{error}}
<a href="{%url 'upload:addContacts'%}" class="button">Add new contacts</a>
<br></br>
<form action="/upload/search_contact/" method="GET">
    Name: <input type="text" name="Name" />
	Office Name: <input type="text" name="office" />
    <button type="submit" class="button">search</button>
   </form>
<em>Contacts in the system are:</em>
<table style="width:90%" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Office Name</th>
        <th>Mobile1</th>
		<th>Mobile2</th>
		<th>Landline</th>
		<th>Email</th>
      </tr>
    </thead>
	<tbody>
      {% for f in c %}
        <tr>
		  
          <td>{{ f.Name }}</td>
          <td>{{ f.Office_name }}</td>
          <td>{{ f.Mobile_no1}}</td>
          <td>{{ f.Mobile_no2}}</td>
		  <td>{{ f.landline_no}}</td>
		  <td>{{ f.email }}</td>
		  <!--<td><embed src="{{f.File.url}}" type="application/pdf" height="100px" width="100px"></td>-->
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">No Files in the database. <a href="{% url 'upload:addContacts' %}">Add the first Contact</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</html>

{% endblock %}