<!DOCTYPE html>

<html>

<title>create folder</title>
<body>

<p>Do you want to create a new folder? click here</p>

<button onclick="myFunction()">Create new Folder</button>

<p id="demo"></p>


<script> 
function myFunction() {
  var person = prompt("Please enter your name", "Harry Potter");
  if (person != null) {
    //document.getElementById("demo").innerHTML =
    //"Folder " + person +  "is created";
	alert("Folder " + person +  "  is successfully created");
  }
}
</script>

</body>
</html>
