<html>
{%load static%}
<style>

.center {
  margin: 150 auto;
  width: 30%;
  border: 2px solid #73AD21;
  padding: 27px;
    }
</style>
   <header>
   
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Document Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          

            
            <a class="nav-item nav-link active" href="{%url 'upload:file_upload'%}">upload</a>
            <a class="nav-item nav-link active" href="{%url 'upload:folder'%}" >Add Folder</a>
			<a class="nav-item nav-link active" href="{%url 'upload:files'%}" >Upload files</a>
          
        </div>
      </nav>
</header>

<body>
<br></br>
<br></br>
 <p><a href="{% url 'DMS:adduser' %}">Add user</a></p>
 <p><a href="{% url 'DMS:user_list' %}">user_list</a></p>
 <p><a href="{% url 'DMS:Address_detail' %}">Address_detail</a></p>

<h1 align="center">Add user</h1>
<div class="center" >
<h2 align="center"> Login</h2>

<form  method="POST">
{% csrf_token %}

Username: <br />
<input type="text" placeholder="Enter Username" name="username" />
<br/><br />
Password : <br />
<input type="password" placeholder="Enter Password" name="password" /><br /><br />

<input class="btn btn-primary" type="submit" value="login" />
</form>
</div>
</body>

</html>
