<br>
{% extends "dash.html" %}
{% block content %}

Name: {{ usr.first_name }} {{ usr.last_name }} <br>
<em>Leave View</em>
  
	<table style="width:90%" border="1">
    <thead>
      <tr>
        <!--<th>ID</th> -->
        <th>Applied Date</th>
		
		<th>Leave type</th>
		<th>Reason</th>	
		<th>From</th>
		<th>To</th>				
	  </tr>
    </thead>
	<tbody>
      {% for i in att %}
        <tr>
                   
          <td>{{ i.From_time|date:'Y-m-d' }} </td>
          <td>{{ i.leave_type }}</td>
		  <td>{{i.Reason }}</td>
		  <td>{{i.From}}</td>
		  <td>{{i.To }}</td>
        </tr>
      {% endfor %}
	  
    </tbody>
	</table>
	{% endblock %}